/* Color: blue */

/* blue light */

:root,
.light,
.light-theme {
    --blue-1: #fbfdff;
    --blue-2: #f4faff;
    --blue-3: #e6f4fe;
    --blue-4: #d5efff;
    --blue-5: #c2e5ff;
    --blue-6: #acd8fc;
    --blue-7: #8ec8f6;
    --blue-8: #5eb1ef;
    --blue-9: #0090ff;
    --blue-10: #0588f0;
    --blue-11: #0d74ce;
    --blue-12: #113264;

    --blue-a1: #0080ff04;
    --blue-a2: #008cff0b;
    --blue-a3: #008ff519;
    --blue-a4: #009eff2a;
    --blue-a5: #0093ff3d;
    --blue-a6: #0088f653;
    --blue-a7: #0083eb71;
    --blue-a8: #0084e6a1;
    --blue-a9: #0090ff;
    --blue-a10: #0086f0fa;
    --blue-a11: #006dcbf2;
    --blue-a12: #002359ee;

    --blue-contrast: white;
    --blue-surface: #f1f9ffcc;
    --blue-indicator: var(--blue-9);
    --blue-track: var(--blue-9);
}

/* blue light */

.dark,
.dark-theme {
    --blue-1: #0d1520;
    --blue-2: #111927;
    --blue-3: #0d2847;
    --blue-4: #003362;
    --blue-5: #004074;
    --blue-6: #104d87;
    --blue-7: #205d9e;
    --blue-8: #2870bd;
    --blue-9: #0090ff;
    --blue-10: #3b9eff;
    --blue-11: #70b8ff;
    --blue-12: #c2e6ff;

    --blue-a1: #004df211;
    --blue-a2: #1166fb18;
    --blue-a3: #0077ff3a;
    --blue-a4: #0075ff57;
    --blue-a5: #0081fd6b;
    --blue-a6: #0f89fd7f;
    --blue-a7: #2a91fe98;
    --blue-a8: #3094feb9;
    --blue-a9: #0090ff;
    --blue-a10: #3b9eff;
    --blue-a11: #70b8ff;
    --blue-a12: #c2e6ff;

    --blue-contrast: white;
    --blue-surface: #11213d80;
    --blue-indicator: var(--blue-9);
    --blue-track: var(--blue-9);
}
