/* Color: jade */

/* jade light */

:root,
.light,
.light-theme {
    --jade-1: #fbfefd;
    --jade-2: #f4fbf7;
    --jade-3: #e6f7ed;
    --jade-4: #d6f1e3;
    --jade-5: #c3e9d7;
    --jade-6: #acdec8;
    --jade-7: #8bceb6;
    --jade-8: #56ba9f;
    --jade-9: #29a383;
    --jade-10: #26997b;
    --jade-11: #208368;
    --jade-12: #1d3b31;

    --jade-a1: #00c08004;
    --jade-a2: #00a3460b;
    --jade-a3: #00ae4819;
    --jade-a4: #00a85129;
    --jade-a5: #00a2553c;
    --jade-a6: #009a5753;
    --jade-a7: #00945f74;
    --jade-a8: #00976ea9;
    --jade-a9: #00916bd6;
    --jade-a10: #008764d9;
    --jade-a11: #007152df;
    --jade-a12: #002217e2;

    --jade-contrast: white;
    --jade-surface: #f1faf5cc;
    --jade-indicator: var(--jade-9);
    --jade-track: var(--jade-9);
}

/* jade dark */

.dark,
.dark-theme {
    --jade-1: #0d1512;
    --jade-2: #121c18;
    --jade-3: #0f2e22;
    --jade-4: #0b3b2c;
    --jade-5: #114837;
    --jade-6: #1b5745;
    --jade-7: #246854;
    --jade-8: #2a7e68;
    --jade-9: #29a383;
    --jade-10: #27b08b;
    --jade-11: #1fd8a4;
    --jade-12: #adf0d4;

    --jade-a1: #00de4505;
    --jade-a2: #27fba60c;
    --jade-a3: #02f99920;
    --jade-a4: #00ffaa2d;
    --jade-a5: #11ffb63b;
    --jade-a6: #34ffc24b;
    --jade-a7: #45fdc75e;
    --jade-a8: #48ffcf75;
    --jade-a9: #38feca9d;
    --jade-a10: #31fec7ab;
    --jade-a11: #21fec0d6;
    --jade-a12: #b8ffe1ef;

    --jade-contrast: white;
    --jade-surface: #13271f80;
    --jade-indicator: var(--jade-9);
    --jade-track: var(--jade-9);
}
