/* Color: mint */

/* mint light */

:root,
.light,
.light-theme {
    --mint-1: #f9fefd;
    --mint-2: #f2fbf9;
    --mint-3: #ddf9f2;
    --mint-4: #c8f4e9;
    --mint-5: #b3ecde;
    --mint-6: #9ce0d0;
    --mint-7: #7ecfbd;
    --mint-8: #4cbba5;
    --mint-9: #86ead4;
    --mint-10: #7de0cb;
    --mint-11: #027864;
    --mint-12: #16433c;

    --mint-a1: #00d5aa06;
    --mint-a2: #00b18a0d;
    --mint-a3: #00d29e22;
    --mint-a4: #00cc9937;
    --mint-a5: #00c0914c;
    --mint-a6: #00b08663;
    --mint-a7: #00a17d81;
    --mint-a8: #009e7fb3;
    --mint-a9: #00d3a579;
    --mint-a10: #00c39982;
    --mint-a11: #007763fd;
    --mint-a12: #00312ae9;

    --mint-contrast: #1a211e;
    --mint-surface: #effaf8cc;
    --mint-indicator: var(--mint-9);
    --mint-track: var(--mint-9);
}

/* mint light */

.dark,
.dark-theme {
    --mint-1: #0e1515;
    --mint-2: #0f1b1b;
    --mint-3: #092c2b;
    --mint-4: #003a38;
    --mint-5: #004744;
    --mint-6: #105650;
    --mint-7: #1e685f;
    --mint-8: #277f70;
    --mint-9: #86ead4;
    --mint-10: #a8f5e5;
    --mint-11: #58d5ba;
    --mint-12: #c4f5e1;

    --mint-a1: #00dede05;
    --mint-a2: #00f9f90b;
    --mint-a3: #00fff61d;
    --mint-a4: #00fff42c;
    --mint-a5: #00fff23a;
    --mint-a6: #0effeb4a;
    --mint-a7: #34fde55e;
    --mint-a8: #41ffdf76;
    --mint-a9: #92ffe7e9;
    --mint-a10: #aefeedf5;
    --mint-a11: #67ffded2;
    --mint-a12: #cbfee9f5;

    --mint-contrast: #1a211e;
    --mint-surface: #15272780;
    --mint-indicator: var(--mint-9);
    --mint-track: var(--mint-9);
}
