/* Color: plum */

/* plum light */

:root,
.light,
.light-theme {
    --plum-1: #fefcff;
    --plum-2: #fdf7fd;
    --plum-3: #fbebfb;
    --plum-4: #f7def8;
    --plum-5: #f2d1f3;
    --plum-6: #e9c2ec;
    --plum-7: #deade3;
    --plum-8: #cf91d8;
    --plum-9: #ab4aba;
    --plum-10: #a144af;
    --plum-11: #953ea3;
    --plum-12: #53195d;

    --plum-a1: #aa00ff03;
    --plum-a2: #c000c008;
    --plum-a3: #cc00cc14;
    --plum-a4: #c200c921;
    --plum-a5: #b700bd2e;
    --plum-a6: #a400b03d;
    --plum-a7: #9900a852;
    --plum-a8: #9000a56e;
    --plum-a9: #89009eb5;
    --plum-a10: #7f0092bb;
    --plum-a11: #730086c1;
    --plum-a12: #40004be6;

    --plum-contrast: white;
    --plum-surface: #fdf5fdcc;
    --plum-indicator: var(--plum-9);
    --plum-track: var(--plum-9);
}

/* plum dark */

.dark,
.dark-theme {
    --plum-1: #181118;
    --plum-2: #201320;
    --plum-3: #351a35;
    --plum-4: #451d47;
    --plum-5: #512454;
    --plum-6: #5e3061;
    --plum-7: #734079;
    --plum-8: #92549c;
    --plum-9: #ab4aba;
    --plum-10: #b658c4;
    --plum-11: #e796f3;
    --plum-12: #f4d4f4;

    --plum-a1: #f112f108;
    --plum-a2: #f22ff211;
    --plum-a3: #fd4cfd27;
    --plum-a4: #f646ff3a;
    --plum-a5: #f455ff48;
    --plum-a6: #f66dff56;
    --plum-a7: #f07cfd70;
    --plum-a8: #ee84ff95;
    --plum-a9: #e961feb6;
    --plum-a10: #ed70ffc0;
    --plum-a11: #f19cfef3;
    --plum-a12: #feddfef4;

    --plum-contrast: white;
    --plum-surface: #2f152f80;
    --plum-indicator: var(--plum-9);
    --plum-track: var(--plum-9);
}
