/* Color: slate */

/* slate light */

:root,
.light,
.light-theme {
    --slate-1: #fcfcfd;
    --slate-2: #f9f9fb;
    --slate-3: #f0f0f3;
    --slate-4: #e8e8ec;
    --slate-5: #e0e1e6;
    --slate-6: #d9d9e0;
    --slate-7: #cdced6;
    --slate-8: #b9bbc6;
    --slate-9: #8b8d98;
    --slate-10: #80838d;
    --slate-11: #60646c;
    --slate-12: #1c2024;

    --slate-a1: #00005503;
    --slate-a2: #00005506;
    --slate-a3: #0000330f;
    --slate-a4: #00002d17;
    --slate-a5: #0009321f;
    --slate-a6: #00002f26;
    --slate-a7: #00062e32;
    --slate-a8: #00083046;
    --slate-a9: #00051d74;
    --slate-a10: #00071b7f;
    --slate-a11: #0007149f;
    --slate-a12: #000509e3;

    --slate-contrast: white;
    --slate-surface: #ffffffcc;
    --slate-indicator: var(--slate-9);
    --slate-track: var(--slate-9);
}

/* slate light */

.dark,
.dark-theme {
    --slate-1: #111113;
    --slate-2: #18191b;
    --slate-3: #212225;
    --slate-4: #272a2d;
    --slate-5: #2e3135;
    --slate-6: #363a3f;
    --slate-7: #43484e;
    --slate-8: #5a6169;
    --slate-9: #696e77;
    --slate-10: #777b84;
    --slate-11: #b0b4ba;
    --slate-12: #edeef0;

    --slate-a1: #00000000;
    --slate-a2: #d8f4f609;
    --slate-a3: #ddeaf814;
    --slate-a4: #d3edf81d;
    --slate-a5: #d9edfe25;
    --slate-a6: #d6ebfd30;
    --slate-a7: #d9edff40;
    --slate-a8: #d9edff5d;
    --slate-a9: #dfebfd6d;
    --slate-a10: #e5edfd7b;
    --slate-a11: #f1f7feb5;
    --slate-a12: #fcfdffef;

    --slate-contrast: white;
    --slate-surface: #1f212380;
    --slate-indicator: var(--slate-9);
    --slate-track: var(--slate-9);
}
