/* Accent color: amber */

[data-color='amber'] {
    --accent-1: var(--amber-1);
    --accent-2: var(--amber-2);
    --accent-3: var(--amber-3);
    --accent-4: var(--amber-4);
    --accent-5: var(--amber-5);
    --accent-6: var(--amber-6);
    --accent-7: var(--amber-7);
    --accent-8: var(--amber-8);
    --accent-9: var(--amber-9);
    --accent-10: var(--amber-10);
    --accent-11: var(--amber-11);
    --accent-12: var(--amber-12);

    --accent-a1: var(--amber-a1);
    --accent-a2: var(--amber-a2);
    --accent-a3: var(--amber-a3);
    --accent-a4: var(--amber-a4);
    --accent-a5: var(--amber-a5);
    --accent-a6: var(--amber-a6);
    --accent-a7: var(--amber-a7);
    --accent-a8: var(--amber-a8);
    --accent-a9: var(--amber-a9);
    --accent-a10: var(--amber-a10);
    --accent-a11: var(--amber-a11);
    --accent-a12: var(--amber-a12);

    --accent-contrast: var(--amber-contrast);
    --accent-surface: var(--amber-surface);
    --accent-indicator: var(--amber-indicator);
    --accent-track: var(--amber-track);

    --accent-box-shadow: 0px 0px 0px 1px var(--accent-5);
    --accent-box-shadow-hover: 0px 0px 0px 1px var(--accent-8);
    --accent-box-shadow-focus: 0px 0px 0px 1px var(--accent-8);
}
