/* Accent color: mint */

[data-color='mint'] {
    --accent-1: var(--mint-1);
    --accent-2: var(--mint-2);
    --accent-3: var(--mint-3);
    --accent-4: var(--mint-4);
    --accent-5: var(--mint-5);
    --accent-6: var(--mint-6);
    --accent-7: var(--mint-7);
    --accent-8: var(--mint-8);
    --accent-9: var(--mint-9);
    --accent-10: var(--mint-10);
    --accent-11: var(--mint-11);
    --accent-12: var(--mint-12);

    --accent-a1: var(--mint-a1);
    --accent-a2: var(--mint-a2);
    --accent-a3: var(--mint-a3);
    --accent-a4: var(--mint-a4);
    --accent-a5: var(--mint-a5);
    --accent-a6: var(--mint-a6);
    --accent-a7: var(--mint-a7);
    --accent-a8: var(--mint-a8);
    --accent-a9: var(--mint-a9);
    --accent-a10: var(--mint-a10);
    --accent-a11: var(--mint-a11);
    --accent-a12: var(--mint-a12);

    --accent-contrast: var(--mint-contrast);
    --accent-surface: var(--mint-surface);
    --accent-indicator: var(--mint-indicator);
    --accent-track: var(--mint-track);

    --accent-box-shadow: 0px 0px 0px 1px var(--accent-5);
    --accent-box-shadow-hover: 0px 0px 0px 1px var(--accent-8);
    --accent-box-shadow-focus: 0px 0px 0px 1px var(--accent-8);
}
