/*
 * Tokens: colors    
 */

:root {
    --black-a1: rgba(0, 0, 0, 0.05);
    --black-a2: rgba(0, 0, 0, 0.1);
    --black-a3: rgba(0, 0, 0, 0.15);
    --black-a4: rgba(0, 0, 0, 0.2);
    --black-a5: rgba(0, 0, 0, 0.3);
    --black-a6: rgba(0, 0, 0, 0.4);
    --black-a7: rgba(0, 0, 0, 0.5);
    --black-a8: rgba(0, 0, 0, 0.6);
    --black-a9: rgba(0, 0, 0, 0.7);
    --black-a10: rgba(0, 0, 0, 0.8);
    --black-a11: rgba(0, 0, 0, 0.9);
    --black-a12: rgba(0, 0, 0, 0.95);

    --white-a1: rgba(255, 255, 255, 0.05);
    --white-a2: rgba(255, 255, 255, 0.1);
    --white-a3: rgba(255, 255, 255, 0.15);
    --white-a4: rgba(255, 255, 255, 0.2);
    --white-a5: rgba(255, 255, 255, 0.3);
    --white-a6: rgba(255, 255, 255, 0.4);
    --white-a7: rgba(255, 255, 255, 0.5);
    --white-a8: rgba(255, 255, 255, 0.6);
    --white-a9: rgba(255, 255, 255, 0.7);
    --white-a10: rgba(255, 255, 255, 0.8);
    --white-a11: rgba(255, 255, 255, 0.9);
    --white-a12: rgba(255, 255, 255, 0.95);
}

/* Theme light (default) */
:root,
.light,
[data-theme='light'] {
    // --color: #2e3440;
    --color: #1f1f1f;
    --color-background-0: #fcfcfc;
    --color-background-1: #f9f9f9;
    --color-background-2: #f0f0f0;
    --color-overlay: var(--black-a6);
    --color-surface: rgba(255, 255, 255, 0.85);
    --color-box-shadow: #0000001f;
}

/* Theme dark */
.dark,
[data-theme='dark'] {
    // --color: #c1c8d6;
    --color: #ebebeb;
    --color-background-0: #111111;
    --color-background-1: #191919;
    --color-background-2: #222222;
    --color-overlay: var(--black-a8);
    --color-surface: rgba(0, 0, 0, 0.25);
    --color-box-shadow: #ffffff22;
}

[data-has-background='true'] {
    background-color: var(--color-background-0);
}

.svxui {
    color: var(--color);
}
