h2 {
    display: inline-block;
    margin: 0;
    position: sticky;
    top: 20px;
}

h3 {
    display: inline-block;
    margin: var(--space-7) var(--space-5) var(--space-5) var(--space-5);
}

table {
    max-width: 100%;
    margin-bottom: calc(var(--space-4) * -1);
    border-collapse: collapse;

    thead {
        tr {
            th {
                text-align: left;
                font-size: var(--font-size-1);
                letter-spacing: var(--letter-spacing-1);
                line-height: var(--line-height-1);
                color: var(--gray-a11);
                padding-right: var(--space-4);
                padding-bottom: var(--space-4);
            }
        }
    }

    tbody {
        tr {
            vertical-align: middle;

            td {
                padding: 0;
                padding-right: var(--space-4);
                padding-bottom: var(--space-4);
                text-align: center;

                &:first-child {
                    font-size: var(--font-size-1);
                    letter-spacing: var(--letter-spacing-1);
                    line-height: var(--line-height-1);
                    color: var(--gray-a11);
                }
            }
        }
    }
}

.width-400px {
    max-width: 400px;
}

.width-200px {
    width: 300px;
}

.width-300px {
    width: 300px;
}

.min-width-100 {
    min-width: 100%;
}

.max-width-300px {
    min-width: 300px;
}

.height-200px {
    height: 200px;
}
