/*****************************************************************************/
/*                                                                           */
/* Tokens: theme                                                             */
/*                                                                           */
/*****************************************************************************/

:root {
    [data-has-background='true'] {
        background-color: var(--color-background-0);
    }

    // Light theme
    .light,
    [data-theme='light'] {
        color-scheme: light;

        --color: #2e3440;
        --color-background-0: var(--gray-1);
        --color-background-1: var(--gray-2);
        --color-background-2: var(--gray-3);
        --color-overlay: var(--black-a6);
        --color-surface: rgba(255, 255, 255, 0.85);
        --color-panel-solid: white;
        --color-panel-translucent: rgba(255, 255, 255, 0.7);
        // --input-background: #f0f0f0;
        --input-background: var(--gray-a3);
        --input-box-shadow: var(--gray-a5);
    }
}
// Dark theme
.dark,
[data-theme='dark'] {
    color-scheme: dark;

    --color: #c1c8d6;
    --color-background-0: var(--gray-1);
    --color-background-1: var(--gray-2);
    --color-background-2: var(--gray-3);
    --color-overlay: var(--black-a8);
    --color-surface: rgba(0, 0, 0, 0.25);
    --color-panel-solid: var(--gray-2);
    --color-panel-translucent: var(--gray-a2);
    // --input-background: #242424;
    --input-background: var(--gray-a3);
    --input-box-shadow: var(--gray-a5);
}
