/*
 * Utilities: display
 */

.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.contents {
    display: contents;
}
.hidden {
    display: none;
}
