/*
 * Utilities: flex child
 */

/* Align Self */

$self-values: (
    'auto': auto,
    'start': flex-start,
    'center': center,
    'end': flex-end,
    'stretch': stretch,
    'baseline': baseline
) !default;

@each $key, $value in $self-values {
    .self-#{$key} {
        align-self: $value;
    }
}

/* Grow & Shrink */

.grow-0 {
    flex-grow: 0;
}
.grow {
    flex-grow: 1;
}
.shrink-0 {
    flex-shrink: 0;
}
.shrink {
    flex-shrink: 1;
}

/* Flex shorthand */

.flex-1 {
    flex: 1 1 0%;
}
.flex-auto {
    flex: 1 1 auto;
}
.flex-initial {
    flex: 0 1 auto;
}
.flex-none {
    flex: none;
}
