@use './config' as *;

/*
 * Utilities: grid child
 */

/* Col span */

@for $i from 1 through 12 {
    .#{$prefix}col-span-#{$i} {
        grid-column: span #{$i} / span #{$i};
    }
}
.#{$prefix}col-span-full {
    grid-column: 1 / -1;
}

/* Row span */

@for $i from 1 through 6 {
    .#{$prefix}row-span-#{$i} {
        grid-row: span #{$i} / span #{$i};
    }
}
.#{$prefix}row-span-full {
    grid-row: 1 / -1;
}

/* Col start */

@for $i from 1 through 13 {
    .#{$prefix}col-start-#{$i} {
        grid-column-start: #{$i};
    }
}
.#{$prefix}col-start-auto {
    grid-column-start: auto;
}

/* Row start */

@for $i from 1 through 7 {
    .#{$prefix}row-start-#{$i} {
        grid-row-start: #{$i};
    }
}
.#{$prefix}row-start-auto {
    grid-row-start: auto;
}
